---
layout: default
---

<div class="home">
  

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>                
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
        </a>        
        <div>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% for category in post.categories %}
         <a href="{{site.baseurl}}/categories/{{category }}"><span class="category">{{category   }}</span></a>
         {% endfor %}
        </div>        
        <div class="excerpt">
          {{post.excerpt}}
        </div>
      </li>        
    {% endfor %}
  </ul>

</div>


{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.previous_page == 1 %}
   <a href="{{site.baseurl}}/" class="previous">Previous</a>
  {% elsif paginator.previous_page > 1 %}
    <a href="{{site.baseurl}}/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}
