---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <div class="catagories">
    {% for category in page.categories %}
         <a href="/categories/{{category   }}"><span class="category">{{category   }}</span></a>
    {% endfor %}
    </div>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
  <script type="text/javascript">
   var iframes = document.getElementsByTagName("iframe");
   for (var i=0;i<iframes.length;i++){
      iframes[i].allowFullScreen="1";    
   }
  </script>

</div>